@{
    ViewData["Title"] = "Dashboard";
}
<style>
    .vertical {
        margin-bottom: 10px;
    }

    button {
        margin-top: -1px !important;
        float: right !important;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js?v=5"></script>
<script type="text/javascript">

    $().ready(function () {
    });



</script>
<!-- Body -->
<div class="webbody" style="margin-left: auto; height: 100vh; padding: 10px; margin-right: auto; max-width: 800px;
                        border-left: 2px solid; border-right: 2px solid; border-color: rgb(218, 234, 254)">
    <div>
        <label>
            <input type="checkbox" id="isPlayerEnabled" checked />
            <span class="checkable">Enable Player</span>
        </label>
    </div>
    <div>
        <iframe width="600" height="420" id="songRequestPlayer" src="https://www.youtube.com/watch?v=9jK-NcRmVcw">
        </iframe>
    </div>
    <div>
        <label>TTS Volume (1-100): <input type="text" id="ttsVolume" value="100" /></label>
    </div>
</div>