@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"> 
            $().ready(function () {

                // adjust listbox attributes
                var listbox = $('#voiceid');
                listbox.css('height', '250px');

            });
            function TestTTSVoice() {
        
            var voice1 = {
                id: $('#voiceid').val()[0],
                username: 'test',
                message: $('#txtMessage').val(),
                speed: $('#speed').val(),
                pitch: $('#pitch').val(),
            };

            var b = $.ajax({
                type: 'post',
                url: '@Url.Action("TestTTSVoice", "Home")',
                contentType: "application/json",
                data: JSON.stringify(voice1),
                success: function(data) { 

                    audioTester = new Audio("data:audio/wav;base64," + data);
                    audioTester.play();
                }
            });
            // window.open(
                //"https://www.twitch.tv/peerless_under_the_stars", "_blank");
             
        }

        function SetTTSVoice() {
            var voice = {
                id: $('#voiceid').val(),
                username: $('#username').val(),
                speed: $('#speed').val(),
                pitch: $('#pitch').val(),
            };
        
            var a = $.ajax({
                type: 'post',
                url: '@Url.Action("SetTTSVoice", "Home")',
                contentType: "application/json",
                data: JSON.stringify(voice),
                success: function() { }
            });
            // window.open(
                //"https://www.twitch.tv/peerless_under_the_stars", "_blank");
             
        }
    
</script>

<div class="text-center">
    <div>
        :^)
    </div>
  
</div>
@ViewData["Title"]

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <div style="background-color: darkseagreen">
        @Html.ListBox("voiceid", ViewBag.googleTTSVoices, "")
        Speed (0.55 - 2)<input type="number" id="speed" name="speed" min="0.55" max="4">
        Pitch (-20 - 20)<input type="number" id="pitch" name="pitch" min="-20" max="20">   
    </div>
</div>

<div>
    <div>
            Message: <input type="text" id="txtMessage" />
            <button onclick="TestTTSVoice()">Test</button>
    </div>
    <div>
            Username: <input type="text" id="username" />
            <button onclick="SetTTSVoice()">Save</button>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
