@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"> 
    
        function TestTTSVoice() {
        
            var voice1 = {
                id: $('#voiceid').val(),
                username: 'test',
                message: $('#txtMessage').val(),
                speed: $('#speed').val(),
                pitch: $('#pitch').val(),
            };

            var b = $.ajax({
                type: 'post',
                url: '@Url.Action("TestTTSVoice", "Home")',
                contentType: "application/json",
                data: JSON.stringify(voice1),
                success: function(data) { 

                    audioTester = new Audio("data:audio/wav;base64," + data);
                    audioTester.play();
                }
            });
            // window.open(
                //"https://www.twitch.tv/peerless_under_the_stars", "_blank");
             
        }

        function SetTTSVoice() {
            var voice = {
                id: $('#voiceid').val(),
                username: $('#username').val(),
                speed: $('#speed').val(),
                pitch: $('#pitch').val(),
            };
        
            var a = $.ajax({
                type: 'post',
                url: '@Url.Action("SetTTSVoice", "Home")',
                contentType: "application/json",
                data: JSON.stringify(voice),
                success: function() { }
            });
            // window.open(
                //"https://www.twitch.tv/peerless_under_the_stars", "_blank");
             
        }
    
</script>

<div class="text-center">
    <div>
    </div>
    <a href="/Home/GetTestString">:3</a>
    <a id="youtubePlayer" href="https://www.youtube.com/watch?v=U2l3Zx0B6Ws&list=PLGknaNHbFo4UnE0Lel9-J8P3DxnSUDxFq&index=78" onclick="SetTTSVoice()">hi</a>
</div>
@ViewData["Title"]

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
        Speed (0.55 - 2)<input type="number" id="speed" name="speed" min="0.55" max="4">
        Pitch (-20 - 20)<input type="number" id="pitch" name="pitch" min="-20" max="20">   
    </div>

</div>

<div>
    <div>
            @Html.DropDownList("voiceid", ViewBag.googleTTSVoices, "", "")
            <input type="button" onclick="SetTTSVoice()" />
            Username: <input type="text" id="username" />
            Message: <input type="text" id="txtMessage" />
            Test: <input type="button" onclick="TestTTSVoice()" />
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
